#root {
  max-width: 800px;
}

.photoViewer {
  width: 800px;
  height: 400px;
  margin-bottom: 10px;
}

.photo {
  height: 400px;
}

.imageSelector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}